<div class="login-form">
<h2>Registrazione</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <label for="user_username">Nome utente</label><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    
    <br \><em>(minimo <%= @minimum_password_length %> caratteri)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
  </div>

  <div class="form-group">
    <label for="user_password_confirmation">Conferma password</label><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrati", :class => "btn btn-default btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>