<!DOCTYPE html>
<html>
  <head>
    <title>ProsFin</title>
    <%= csrf_meta_tags %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
